/* Playlists CSS start */

h1 {
    margin: 20px 30px;
}

.playlists {
    display: inline-flex;
    box-sizing: border-box;
    gap: 20px;
    width: 100%;
    padding: 20px 30px;
    overflow: auto;
}

/* Playlists CSS end */

/* Playlist CSS start */

.playlist {
    display: block;
}

.playlist img {
    height: 200px;
    width: 200px;
}

.playlist h3 {
    padding: 20px 0;
}

/* Playlist CSS end */
